/Task
/venv
/.idea
.vscode/
/__pycache__
config/__pycache__
parsing/__pycache__
parsing/services/__pycache__
parsing/migrations/__pycache__
parsing/management/commands/__pycache__

user_auth/__pycache__
user_auth/migrations/__pycache__
user_auth/management/commands/__pycache__/
user_auth/services/__pycache__/
.env
.coverage
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celery_state.db
